<div class="transfers-page">
  <div class="transfers-page__dropdown">
    <div class="transfers-page__dropdown__name">
      CRISTIAN DAVID ARIAS CORREA
    </div>
    <div class="transfers-page__dropdown__button-container">
      <img
        src="../../../assets/imgs/dropdown-icon.svg"
        class="transfers-page__dropdown__button-container__icon"
      />
      <div class="transfers-page__dropdown__button-container__label-group">
        <div
          class="transfers-page__dropdown__button-container__label-group__label"
        >
          Prueba
        </div>
        <div
          class="transfers-page__dropdown__button-container__label-group__sub-label"
        >
          Beneficios y caracteristicas
        </div>
      </div>
    </div>
  </div>
  <div class="transfers-page__features-info">
    <div class="transfers-page__features-info__back">
      <img
        src="../../../assets/imgs/back-arrow.svg"
        class="transfers-page__features-info__back__button"
      />
      <div class="transfers-page__features-info__back__label">Atrás</div>
    </div>
    <div class="transfers-page__features-info__item">
      <img
        class="transfers-page__features-info__item__logo"
        src="../../../assets/imgs/atm-icon.svg"
      />
      <div class="transfers-page__features-info__item__label">
        Reciba el pago de su pensión y otros depósitos en su cuenta.
      </div>
    </div>
    <div class="transfers-page__features-info__item">
      <img
        class="transfers-page__features-info__item__logo"
        src="../../../assets/imgs/phone-icon.svg"
      />
      <div class="transfers-page__features-info__item__label">
        Programe de forma automática sus transferencias, el pago de productos y
        servicios.
      </div>
    </div>
    <div class="transfers-page__features-info__item">
      <img
        class="transfers-page__features-info__item__logo"
        src="../../../assets/imgs/document-icon.svg"
      />
      <div class="transfers-page__features-info__item__label">
        Podrá obtener beneficios con aliados y tasas especiales en créditos para
        pensionados.
      </div>
    </div>
    <div class="transfers-page__features-info__item">
      <img
        class="transfers-page__features-info__item__logo"
        src="../../../assets/imgs/coupon-icon.svg"
      />
      <div class="transfers-page__features-info__item__label">
        Podrá acceder a un cupo de adelanto de pensión y a los productos móviles
        que le ofrece Davivienda.
      </div>
    </div>
    <span class="transfers-page__features-info__disclaimer">
      Este producto cuenta con el seguro de depósitos
      <span class="transfers-page__features-info__disclaimer__weighted">
        FOGAFIN
      </span>
    </span>
    <button class="transfers-page__features-info__button" (click)="goToForm()">
      Continuar
    </button>
  </div>
</div>
