<div class="transfers-page">
  <div class="transfers-page__dropdown">
    <div class="transfers-page__dropdown__name">
      CRISTIAN DAVID ARIAS CORREA
    </div>
    <div class="transfers-page__dropdown__button-container">
      <img
        src="../../../assets/imgs/dropdown-icon.svg"
        class="transfers-page__dropdown__button-container__icon"
      />
      <div class="transfers-page__dropdown__button-container__label-group">
        <div
          class="transfers-page__dropdown__button-container__label-group__label"
        >
          Prueba
        </div>
        <div
          class="transfers-page__dropdown__button-container__label-group__sub-label"
        >
          Beneficios y caracteristicas
        </div>
      </div>
    </div>
  </div>
  <div class="transfers-page__features-info">
    <div class="transfers-page__features-info__back">
      <img
        src="../../../assets/imgs/back-arrow.svg"
        class="transfers-page__features-info__back__button"
      />
      <div class="transfers-page__features-info__back__label">Atrás</div>
    </div>

    <button class="transfers-page__features-info__button">Continuar</button>
  </div>
</div>
